<div class="col-md-4">
  <div class="card card-block text-center my-1 background-clay-dark">
    <div class="card-body">
      <h5 class="card-title"><%= court.label %></h5>
      <% if court.matches.where(finished_at: nil).any? %>
        <%= render partial: 'play_info',
            locals: { current_match: court.current_match, next_match: court.next_match } %>
      <% else %>
        <p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><small>No matches here.</small></li>
          </ul>
        </p>
      <% end %>
      <div><%= link_to 'Go to court', tournament_court_path(@tournament, court), class: 'btn btn-sm btn-success' %></div>
    </div>
  </div>
</div>
