<div class="jumbotron">
  <h2><%= @tournament.label %></h2>
  <p>
    This tournament is in progress now. Click button bellow to close this turnament if it has finished already.
  </p>
  <p>
    <%= link_to 'Close Tournament', tournament_path(@tournament), method: :delete, data: { confirm: 'This completely destroys ALL DATA of this tournament. Sure to proceed?' }, class: 'btn btn-lg btn-danger' %>
    <%= link_to 'change', edit_tournament_path(@tournament), class: 'btn btn-xs btn-link' %>
  </p>
</div>
