<div class="jumbotron">
  <h2>No open tournament</h2>
  <p>
    Click this button to open new tournament now!
  </p>
  <p>
    <%= link_to 'Open Tournament', new_tournament_path, class: 'btn btn-lg btn-success' %>
  </p>
</div>
