<footer class="footer mt-2">
  <div class="row">
    <div class="col">
      <div class="background-clay-dark mt-1 py-4">
        <p class="text-center">
    			Tomáš Radič<br>
          <small>
            <%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %><br>
            +421 905 289 248
          </small>
    		</p>
    		<p class="text-center">
          <small>
    				<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic-a85161a7/', target: :_blank %>
    				●
    				<%= link_to 'Github', 'https://github.com/tomas-radic/scoreboard', target: :_blank %>
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
