<h2>No tournament here.</h2>
<% if policy(Tournament).create? %>
  <p>
    <em><%= t '.open_tournament_text' %></em>
  </p>
  <p>
    <%= link_to t('.open_tournament'), new_tournament_path, class: 'btn btn-lg btn-success my-1' %>
  </p>
<% else %>
  <p>
    <em><%= t '.keep_training_html' %></em>
  </p>
<% end %>
