<div class="jumbotron">
  <% if @tournament.present? %>
    <h2><%= @tournament.label %></h2>
    <p>
      <em><b>Welcome</b> to this tournament.</em>
    </p>
  <% else %>
    <h2>Tournament not found.</h2>
    <p>
      <em>But ... <b>keep training!</b></em>
    </p>
  <% end %>
</div>
