<% if @court.matches.any? %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Label</th>
      <th scope="col">Score</th>
      <th scope="col">Not Before</th>
    </tr>
  </thead>
  <tbody>
    <% @court.matches.includes(:game_sets).order(:finished_at, :started_at, :position).each do |match| %>
      <%= court_matches_row_for match %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No matches.</p>
<% end %>
