<% if @court.matches.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Label</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <% @court.matches.includes(:game_sets).each do |match| %>
        <tr class="<%= decoration_class_for match %>">
          <td>
            <%= check_box_tag :completed, :completed, match.completed?, disabled: true %>
          </td>
          <td>
            <%= match.label %>
          </td>
          <td>
            <%= Score.result_for match %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No matches.</p>
<% end %>
