<% if @matches.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Label</th>
        <th scope="col">Court</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <%= row_for match %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No matches.</p>
<% end %>
