body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

.card {
  border-radius: 0;
  background-color: #e0a27b;
}
.card li {
  background-color: inherit;
}

.bg-court {
  min-height: 520px;
  position: relative;
   .bground {
    background-image: url('court.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e0a27b;
    background-position: center;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -ms-filter: blur(7px);
    -o-filter: blur(7px);
    filter: blur(7px);
  }
  .court-content {
    position: absolute;
    background-color: rgba(224, 162, 123, 0.1);
    width: 100%;
    height: 100%;
  }
}

a {
  color: inherit;
}

.table thead th {
  border-bottom: 1px solid #e0a27b;
}

.table th, .table td {
  border-top: none;
}

table {
  border-color: #e2ab89;
}

.jumbotron {
  border-radius: 0;
}

.background-clay-dark {
  background-color: #e0a27b;
}

.background-clay-light {
  background-color: #e2ab89;
}

.background-highlight {
  background-color: #f1d37b;
}

.background-dust {
  background-color: #9a8383;
}

.color-dust {
  color: #9a8383;
}

.field-error {
  outline: 3px solid red !important;
}

span.score {
  padding: 6px;
  min-width: 40px;
  display: inline-block;
}
