.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card {
  min-height: 512px;
}

.card li {
  background-color: inherit;
}

a {
  color: inherit;
}

.table thead th {
  border-bottom: 1px solid #e0a27b;
}

.table th, .table td {
  border-top: none;
}

table {
  border-color: #e2ab89;
}

.jumbotron {
  border-radius: 0;
}

.background-clay-dark {
  background-color: #e0a27b;
}

.background-clay-light {
  background-color: #e2ab89;
}

.background-highlight {
  background-color: #f1d37b;
}

.background-dust {
  background-color: #9a8383;
}

.color-dust {
  color: #9a8383;
}

// .form-control:focus {
//   border-color: inherit;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   outline: none;
// }

.field-error {
  outline: 3px solid red !important;
}
